

<div class="container">
    <div class="d-flex justify-content-center flex-row">

        <div class="col-lg-5 col-md-8 col-sm-5 ">
            <div class="card p-3 text-center">
                <div class="card-body">
                    <h1>InstaFiSh</h1>

                    <%= render 'devise/sessions/signin' %>
                </div>
            </div>
            <div class="card mt-2 text-center">
            <div class="card-body"
                <p>Aleready have an account? <%= link_to "Sign up", landing_welcome_path %></p>
            </div>
        </div>
        </div>
    </div>
</div>