 
<div class="container" style="hegiht: 100vh;">


    <div class="d-flex h-100 justify-content-center flex-wrap align-items-start flex-row">

        <div class="col-lg-6 col-md-4 p-2 mt-5">
            <%= image_tag ("iphone.png"), class: 'img-responsive', style: "width: 100%;" %>
        </div>

        <div class="col-lg-5 col-md-8 p-3 mt-3">
            <div class="card p-3 text-center">
                
                <div class="card-body">    
                    <h1>InstaFiSh</h1>
                    <h5 class="text-muted">
                         Sign up to see photos and videos from your friends.
                    </h5>
                <hr>
                     <%= render 'devise/registrations/signup'%>
                <br>
                    <p>登録することで、Facebookの利用規約、データに関するポリシー、Cookieポリシーに同意するものとします。</p>
                 </div>
            </div>
            <div class="card mt-2 text-center">
                <div class="card-body"
                    <p>Aleready have an account? <%= link_to "Sign in", landing_signin_path %></p>
                </div>
            </div>
        </div>
    </div>

</div>

